:root {
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --hover-color: #2196f3;
	--primary-hover-color: #188CE8;
  --contacts-color: #757575;
  --border-color: #ececec;
  --primary-border-color: #eeeeee;
  --primary-bg-color: #f5f4fa;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --primary-shadow-color: rgba(0, 0, 0, 0.15);
	--clients-border-color: #AFB1B8;
	--social-bg-color: rgba(255, 255, 255, 0.1);
	--backbrop-bg-color: rgba(0, 0, 0, 0.2);
	--hero-overlay-color: rgba(47, 48, 58, 0.4);
	--work-overlay-color: rgba(47, 48, 58, 0.8);
}

body {
  font-family: Roboto, Arial, Verdana sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}

:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  display: none;
}

/* Container */

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

.site-header {
  border-bottom: 1px var(--border-color) solid;
}

/* Logo */

.logo {
  font-weight: 700;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  color: var(--main-text-color);
  text-decoration: none;
  margin-right: 93px;
  display: flex;
}

.logo.secondary {
	color: var(--hover-color);
	margin-right: 0px;
}

.logo.footer {
	color: var(--secondary-text-color);
  margin-right: 0;
	display: block;
}

.logo-footer.secondary {
  color: var(--hover-color);
  margin-right: 0px;
}

/* Navigation */

.nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav .link {
	position: relative;
  display: block;
	padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-text-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current::after {
	position: absolute;
	bottom: -1px;

	display: block;
	height: 4px;
	width: 100%;
	border-radius: 2px;

	content: '';

	background-color: var(--hover-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-color);
}

.site-nav .link.current {
  color: var(--hover-color);
}

.site-current {
  color: var(--hover-color);
}

/* Contacts */

.site-contacts,
.basement {
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-style: normal;
  display: flex;
}

.site-contacts .item:not(:first-child) {
  margin-left: 30px;
}

.site-contacts.list {
  margin-left: auto;
}

.site-contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact {
  display: flex;
	align-items: center;
  font-weight: 500;
  text-decoration: none;
  color: var(--contacts-color);
	
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: var(--hover-color);
}

.contact-icon {
	margin-right: 10px;
}

.contact .icon {
	fill: currentColor;
}

/* Hero */

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
	max-width: 1600px;
	height: 600px;
	margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
	background-image: linear-gradient( 
		to right,
		var(--hero-overlay-color),
		var(--hero-overlay-color)
		),
		url(../images/bg-hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}

.hero-title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.9;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--secondary-text-color);
  border-radius: 4px;
  border-style: none;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px var(--primary-shadow-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--primary-hover-color);
}

/* Features */

.features {
  display: flex;
}

.feature {
  width: 270px;
  margin-right: 30px;
}

.feature:last-child {
  margin-right: 0px;
}

.feature-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 120px;
	border-radius: 4px;
	background-color: var(--primary-bg-color);
}

.company-features h3 {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.company-features p {
  margin-top: 10px;
  line-height: 1.7;
  color: var(--contacts-color);
}

/* Work */

.site-work {
	padding-top: 0px;
}

.site-work h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.work-list .work {
  display: flex;
  margin-top: 50px;
}

.work-item {
	position: relative;
}

.work-item .overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 370px;
	height: 70px;
	text-align: center;
	position: absolute;
	bottom: 0;
	background: var(--work-overlay-color);
}

.work-item .overlay h3 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--secondary-text-color);
	line-height: 1.1;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* Team */

.team {
  margin-top: 50px;
  display: flex;
}

.team-card {
  text-align: center;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px var(--primary-shadow-color),
    0px 1px 1px var(--primary-shadow-color),
    0px 2px 1px var(--primary-shadow-color);
  border-radius: 0px 0px 4px 4px;
}

.team-card .card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}



.team .card-content h3,
.team .card-content p {
  font-size: 16px;
  line-height: 1.2;
}

.team .card-content h3 {
  margin-bottom: 10px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.company-team {
  background-color: var(--primary-bg-color);
}

.company-team h3 {
  font-weight: 500;
}

.company-team p {
  color: var(--contacts-color);
}

.company-team h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.social-links {
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: 16px;
}

.social-links .item:not(:last-child) {
	margin-right: 10px;
}

.team-card .social-box {
	padding: 12px ;
	border-radius: 50%;
	color: var(--clients-border-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
	color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-box:hover,
.social-box:focus {
	background-color: var(--hover-color);
	color: var(--secondary-text-color);
}

.social-box .icon {
	fill: currentColor;
}

/* Clients */

.site-clients .title {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 50px;
}

.clients {
	display: flex;
}

.client-link {
	color: var(--clients-border-color);
	display: flex;
	border: 1px solid var(--clients-border-color);
	border-radius: 4px;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.client-link:hover,
.client-link:focus {
	color: var(--hover-color);
	border-color: var(--hover-color);
}

.clients .item:not(:last-child) {
	margin-right: 30px;
}

.client-box {
	padding: 16px 32px;
}

.client-box .icon {
	fill: currentColor;
}

/* Adress */

.basement {
  margin-top: 20px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
}

.contacts-footer {
	margin-right: 70px	;
}

.socials-footer .social-links {
	margin-top: 20px;
}

.socials-footer p {
	color: var(--secondary-text-color);
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
}

.social-box {
	background-color: var(--social-bg-color);
	padding: 12px;
	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-box:hover,
.social-box:focus {
	background-color: var(--hover-color);
}

.socials-footer .icon {
	color: var(--secondary-text-color);
}

.basement-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-basement.address {
  color: var(--secondary-text-color);
}

.contact-basement.address:hover,
.contact-basement.address:focus {
  color: var(--hover-color);
}

.contact-basement:hover,
.contact-basement:focus {
  color: var(--hover-color);
}

.contact-basement {
  text-decoration: none;
  color: var(--contacts-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-footer {
	display: flex;
	align-items: baseline;
}

/* Subscribe Form */

/* .subscribe-form {
} */

.subscribe-form {
	margin-left: 93px;
}

.subscribe-form p {
	color: var(--main-background-color);
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
}

.subscribe {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.subscribe .form-input {
	width: 358px;
	height: 50px;
	padding-left: 16px;
	margin-right: 12px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	background-color: var(--secondary-background-color);
	color: var(--main-background-color);
}

.subscribe .form-input::placeholder {
	font-size: 16px;
	line-height: 1.25;
}

.subscribe .form-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 50px;
	padding: 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	color: var(--secondary-text-color);
	background-color: var(--hover-color);
	border-style: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px var(--primary-shadow-color);
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe .form-button:hover {
	background-color: var(--primary-hover-color);
}

.subscribe .icon {
	margin-left: 10px;
}

/* Filter */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter button:hover,
.filter button:focus {
  box-shadow: 0px 3px 1px var(--shadow-color), 
	0px 1px 2px var(--shadow-color),
  0px 2px 2px var(--shadow-color);
  background-color: var(--hover-color);
  color: var(--secondary-text-color);
}

.filter button {
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--primary-bg-color);

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
	background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio */

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item {
  margin-right: 30px;
  margin-bottom: 30px;

}

.portfolio .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-link {
  text-decoration: none;
	display: block;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio p {
  font-size: 16px;
  margin-top: 4px;
  line-height: 1.8;
  color: var(--contacts-color);
}

/* Portfolio cards */

.card-thumb a {
  padding-bottom: 110px;
}

.portfolio .card-content {
  padding: 20px 24px;
  border-right: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
}

.card-thumb {
	position: relative;
	overflow: hidden;
}

.card-thumb .overlay {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	padding: 63px 24px;
	background-color: var(--hover-color);

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb .overlay p {
	font-size: 18px;
	line-height: 1.5;
	color: var(--secondary-text-color);
}

.portfolio-link:hover .overlay {
	transform: translateY(0);
}

.portfolio-link:hover {
	box-shadow: 0px 1px 1px var(--primary-shadow-color), 
	0px 4px 4px var(--shadow-color), 
	1px 4px 6px var(--primary-shadow-color);
}

/* Backdrop */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: var(--backbrop-bg-color);

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal */

.modal-form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	min-width: 528px;
	min-height: 581px;
	border-radius: 4px;
	padding-top: 40px;

	background-color: var(--main-background-color);
}

.modal-form p {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	margin-bottom: 12px;
}

.modal {
	position: absolute;
	left: 50%;

	transform: translateX(-50%);
}

.modal label {
	display: block;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--contacts-color);
	margin-bottom: 4px;
}

.modal .block {
	position: relative;
	width: 448px;
	margin-bottom: 10px;
}

.modal .input {
	width: 100%;
	height: 40px;
	padding-left: 42px;
	border: 1px solid var(--clients-border-color);
	border-radius: 4px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .input:focus {
	border-color: var(--hover-color);
}

.input:focus + .icon {
	fill: var(--hover-color);
}

.comment.input {
	height: 120px;
	resize: none;
	padding: 12px 16px;
}

.comment.input::placeholder {
	font-family: 'Roboto';
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}

.modal-check {
	color: var(--contacts-color);
	margin-top: 20px;
	margin-bottom: 30px;
}

.modal .field {
	display: flex;
	align-items: center;
}

.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.checkbox + .check {
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 7px;
	border: 2px solid var(--main-text-color);
	border-radius: 2px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check {
	background-image: url(./images/check.svg);
	background-size: contain;
	background-origin: border-box;
	background-color: var(--hover-color);
	border-color: var(--hover-color);
}

.modal-check .text {
	line-height: 1.7;
	letter-spacing: 0.03em;
}

.modal-check .link {
	color: var(--hover-color);
}

.modal-submit {
	width: 200px;
	height: 50px;
	border-style: none;
	border-radius: 4px;
	background-color: var(--hover-color);
	color: var(--secondary-text-color);
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	box-shadow: 0px 4px 4px var(--primary-shadow-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover {
	background-color: var(--primary-hover-color);
}

.modal .icon {
	position: absolute;
	fill: currentColor;
	left: 12px;
	bottom: 11px;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-close {
	position: absolute;
	top: 8px;
	right: 8px;
	border: 1px solid var(--shadow-color);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 6px;
	margin: 0;
	cursor: pointer;

	color: var(--main-text-color);
	background-color: var(--main-background-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-close:hover {
	color: var(--hover-color);
}

.modal-form-close .icon {
	fill: currentColor;
	display: inline-flex;
}
